@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root, .App {
    width: 100%;
    height: 100%;
}

#root{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 30px;
    gap: 5px;
}

header, #content, footer {
    grid-column: 1/13;
}



/* ================ HEADER ================ */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.625rem;    
}

header nav ul li:not(li:first-child){
    margin-left: 1.625rem;
}

/* header nav ul li {
    padding: 0.625rem;
} */



/* ================ CONTENT ================ */

#gamesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#gameCard {
    width: 199px;
    border: 1px solid;
    text-align: center;
    border-radius: 0.313rem;
}

.gameImg{
    width: 100%;
    padding: 0.313rem;
    height: 5.625rem;
    /* border-top-left-radius: 0.313rem;
    border-top-right-radius: 0.313rem;
    background-color: #67a38e; */
}

.gameImg img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.gameNome{
    padding: 0.313rem;
}

.gameNome a{
    color: black;
    text-decoration: none;
}

.gameNome a:hover{
    font-style: italic;
}

hr {
    width: 90%;
    height: 0.063rem;
    margin: 0 auto;
}



/* ================ FOOTER ================ */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    font-family: 'Roboto', sans-serif;
    background-color: wheat;  
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}