.game{
    grid-column: 4/10;
    grid-row: 3/3;

    max-width: 650px;
    width: 90%;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
}

#dino{
    width: 50px;
    height: 50px;
    background-image: url(../../assets/img/trex2.png);
    background-size: 50px 50px;

    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;

}

@keyframes jump {
    0%{
        top: 150px
    }
    30%{
        top: 100px;
    }
    50%{
        top: 70px;
    }
    80%{
        top:130px;
    }
    100%{
        top: 150px
    }
}

#cactus{
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url(../../assets/img/cactus2.png);
    background-size: 20px 40px;

    animation: block 1s infinite linear;
}

@keyframes block{
    0%{
        left: 580px
    }
    100%{
        left: -25px
    }
}