@media (max-width: 416px) {
    #score p {
        font-size: 0.875rem;
    }
}

@media (max-width: 1026px){

    header, #manual, #trophy {
        display: none;
    }

    /* ====== GRID CSS ====== */

    .game, #pixelStar, #score, #startBtn, #resetBtn {
        grid-column: 2/12;
        grid-row: 2/2;
    }

    #mobControl {
        grid-column: 2/12;
        grid-row: 5/5;
    }



    /* ====== CONTENT ====== */

    .game, #pixelStar, #startBtn, #resetBtn {
        width: 100%;
    }

    #score {
        display: flex;
        justify-content: flex-end;

        max-width: 650px;
        width: 100%;
        height: 50px;

        /* border: 1px solid red; */
        margin: 0 auto;
    }

    #score p {
        margin: 0.188rem 0.188rem 0 0;
    }

    #mobControl {
        display: flex;
        flex-direction: column;
    
        max-width: 650px;
        width: 100%;
        margin: 1.438rem auto 2.5rem;
    
        text-align: center;
        font-size: 0.875rem;
        /* border: 1px solid black; */
    }
    
    #mobControl > div:not(div:last-child){
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2.188rem;
    }

    #mobControl div:first-child a {
        text-decoration: none;
        color: black;
    }

    #rigthBtn, #leftBtn {
        width: 80px;
        height: 20px;
        border-radius: 60%;
        background-image: radial-gradient(#8f8f8f, #878787, #000000);  
    }

    #mobControl div:last-child {
        align-self: flex-end;
    }

    #jumpBtn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: radial-gradient(#8f8f8f, #878787, #000000);
    }
}